@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url('D:\velocity\velocity\project\Phase-4-Project-Testing-and-Deployment-main\Phase 4 project- Testing and deployment\PizzaHub\PizzaHub\wwwroot\media\products\santorini.jpg')" class="text-center">
    
    <h2  class="display-4">JOE's PIZZA </h2>
    <img src="~/media/products/Chicken Delight.jpg" style="border: 3px solid black;" />
    <marquee direction="right" behavior="alternate"  width="100%" height="100px"><h3><br>May the pizza be with you<br></h3></marquee> 
    <marquee direction="right" behavior="alternate"  width="100%" height="100px"><h4><br>By Prayas Saxena <br></h4></marquee>
</div>
